@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.grayscale {
    filter: grayscale(100%);
    opacity: 75%;
}

.language-logo {
    opacity: 0.9;
}

.small-hero-mask {
    url("https://mdn.mozillademos.org/files/15836/mask-border-diamonds.png") 30 36px 18px round;
}